@import url("/styles/test.css");

/* 🎨 Variables globales */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-color: #333;
  --bg-color: #f0f0f0;
  --accent-color: #ffe600;

  --border-radius: 8px;
  --transition-speed: 0.3s;
}

/* 🧱 Base */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* 🧭 Navegación */
.nav-header,
.nav-mobile {
  background-color: var(--accent-color);
  text-align: center;
  border: 0;
}

.nav-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile {
  display: none;
  padding: 10px;
  margin-bottom: 20px;
}

nav div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-search {
  text-align: center;
  margin-bottom: 10px;
}

/* 📚 Layout principal */
main {
  display: flex;
  flex-direction: row;
  padding: 20px;
  min-height: 60vh;
  gap: 20px;
}

aside {
  width: 250px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  flex-grow: 1;
  padding: 10px;
}

.product-item {
  background-color: #c4c0c0;
  border-radius: var(--border-radius);
  padding: 12px;
  text-align: center;
  transition: background-color var(--transition-speed) ease;
}

.product-item:hover {
  background-color: #b1afaf;
}


footer {
  height: 250px;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

/* 📱 Responsive */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}